<!DOCTYPE html>

<html>
    <head>
        <title>Jon Morgan | jmorjsm</title>
        <script src="https://use.fontawesome.com/a928afa3b6.js"></script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/main.css"/>
		<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
    </head>
    <body>
    	<div id="wrapper">
    		<ul class="headerNav">
				<li><a href="/">Home</a></li>
                <li><a href="https://medium.com/@jmorjsm">Blog</a></li>
                <li><a href="/revision">Revision</a></li>
			</ul>
			<div class="header">
				
				<div class="headerWrapper">
				</div>
			</div>
			<div class="content" style="margin-top:0;">
				<h1>{{ page.title }}</h1>
				{{ content }}
			</div>

			
			<footer id="footer">
			<hr>
				&copy; <span id="copyrightYear"></span> Jon Morgan
				<ul class="icons">
							<li><a href="https://twitter.com/jmorjsm" class="fa fa-twitter"></a></li>
							<li><a href="https://github.com/jmorjsm" class="fa fa-github"></a></li>
							<li><a href="https://www.linkedin.com/in/jmorjsm/" class="fa fa-linkedin"></a></li>
							<li><a href="mailto://jmorjsm@gmail.com" class="fa fa-envelope"></a></li>
						</ul>
			</footer>

			</div>
			<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-53501132-2', 'auto');
			ga('send', 'pageview');
			var dt = new Date();
			document.getElementById("copyrightYear").innerHTML = dt.getFullYear();
			</script>

    </body>
</html>
